<p><font size="6"><b>03 - Pandas: Indexing and selecting data</b></font></p>

In [3]:
import pandas as pd

In [4]:
# redefining the example objects

# series
population = pd.Series({'Germany': 81.3, 'Belgium': 11.3, 'France': 64.3, 
                        'United Kingdom': 64.9, 'Netherlands': 16.9})

# dataframe
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

Setting the index to the country names:

In [5]:
countries = countries.set_index('country')
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

# Selecting data

<div class="alert alert-warning" style="font-size:120%">
<b>ATTENTION!</b>: <br><br>

One of pandas' basic features is the labeling of rows and columns, but this makes indexing also a bit more complex compared to numpy. <br><br> We now have to distuinguish between:

 <ul>
  <li>selection by **label** (using the row and column names)</li>
  <li>selection by **position** (using integers)</li>
</ul>
</div>

## `data[]` provides some convenience shortcuts

For a DataFrame, basic indexing selects the columns (cfr. the dictionaries of pure python)

Selecting a **single column**:

In [6]:
countries['area'] # single []

country
Belgium            30510
France            671308
Germany           357050
Netherlands        41526
United Kingdom    244820
Name: area, dtype: int64

or multiple **columns**:

In [7]:
countries[['area', 'population']] # double [[]]

                  area  population
country
Belgium          30510        11.3
France          671308        64.3
Germany         357050        81.3
Netherlands      41526        16.9
United Kingdom  244820        64.9

But, slicing or boolean indexing accesses the **rows**:

In [16]:
countries['France':'Netherlands']

             population    area    capital
country
France             64.3  671308      Paris
Germany            81.3  357050     Berlin
Netherlands        16.9   41526  Amsterdam

In [17]:
countries[countries['population'] > 50]

                population    area capital
country
France                64.3  671308   Paris
Germany               81.3  357050  Berlin
United Kingdom        64.9  244820  London

<div class="alert alert-danger">
<b>NOTE</b>:

 <ul>
  <li>Unlike slicing in numpy, the end label is **included**!</li>
</ul>
</div>

<div class="alert alert-info" style="font-size:120%">
<b>REMEMBER</b>: <br><br>

So as a summary, `[]` provides the following convenience shortcuts:

<ul>
  <li>**Series**: selecting a **label**: `s[label]`</li>
  <li>**DataFrame**: selecting a single or multiple **columns**: `df['col']` or `df[['col1', 'col2']]`</li>
  <li>**DataFrame**: slicing or filtering the **rows**: `df['row_label1':'row_label2']` or `df[mask]`</li>
</ul>
</div>

## Systematic indexing with `loc` and `iloc`

When using `[]` like above, you can only select from one axis at once (rows or columns, not both). For more advanced indexing, you have some extra attributes:
    
* `loc`: selection by label
* `iloc`: selection by position

Both `loc` and `iloc` use the following pattern: `df.loc[ <selection of the rows> , <selection of the columns> ]`.

This 'selection of the rows / columns' can be: a single label, a list of labels, a slice or a boolean mask.

Selecting a single element:

In [18]:
countries.loc['Germany', 'area']

357050

But the row or column indexer can also be a list, slice, boolean array (see next section), ..

In [19]:
countries.loc['France':'Germany', ['area', 'population']]

           area  population
country
France   671308        64.3
Germany  357050        81.3

---
Selecting by position with `iloc` works similar as **indexing numpy arrays**:

In [20]:
countries.iloc[0:2,1:3]

           area   capital
country
Belgium   30510  Brussels
France   671308     Paris

The different indexing methods can also be used to **assign data**:

In [21]:
countries2 = countries.copy()
countries2.loc['Belgium':'Germany', 'population'] = 10

In [22]:
countries2

                population    area    capital
country
Belgium               10.0   30510   Brussels
France                10.0  671308      Paris
Germany               10.0  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

<div class="alert alert-info" style="font-size:120%">
<b>REMEMBER</b>: <br><br>

Advanced indexing with **loc** and **iloc**

 <ul>
  <li>**loc**: select by label: `df.loc[row_indexer, column_indexer]`</li>
  <li>**iloc**: select by position: `df.iloc[row_indexer, column_indexer]`</li>
</ul>
</div>

## Boolean indexing (filtering)

Often, you want to select rows based on a certain condition. This can be done with 'boolean indexing' (like a where clause in SQL) and comparable to numpy. 

The indexer (or boolean mask) should be 1-dimensional and the same length as the thing being indexed.

In [23]:
countries['area'] > 100000

country
Belgium           False
France             True
Germany            True
Netherlands       False
United Kingdom     True
Name: area, dtype: bool

In [24]:
countries[countries['area'] > 100000]

                population    area capital
country
France                64.3  671308   Paris
Germany               81.3  357050  Berlin
United Kingdom        64.9  244820  London

<div class="alert alert-success">
<b>EXERCISE</b>:

<p>
<ul>
    <li>Add the population density as column to the DataFrame.</li>
</ul>
</p>
Note: the population column is expressed in millions.
</div>

In [8]:
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [13]:
countries['density'] = countries['population']*1000000 / countries['area']
countries['density']

country
Belgium           370.370370
France             95.783158
Germany           227.699202
Netherlands       406.973944
United Kingdom    265.092721
Name: density, dtype: float64

<div class="alert alert-success">
<b>EXERCISE</b>:

 <ul>
  <li>Select the capital and the population column of those countries where the density is larger than 300</li>
</ul>
</div>

In [51]:
countries[countries["density"] > 300] 
count=countries[countries["density"] > 300] 
count

             population   area    capital     density
country
Belgium            11.3  30510   Brussels  370.370370
Netherlands        16.9  41526  Amsterdam  406.973944

In [52]:
count[['population','capital']]

             population    capital
country
Belgium            11.3   Brussels
Netherlands        16.9  Amsterdam

## <div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Add a column 'density_ratio' with the ratio of the population density to the average population density for all countries.</li>
</ul>
</div>

In [56]:
countries['density'].mean()

273.1838790074409

In [55]:
countries['density ratio'] =countries['density'] /countries['density'].mean() 
countries

                population    area    capital     density  density ratio
country
Belgium               11.3   30510   Brussels  370.370370       1.355755
France                64.3  671308      Paris   95.783158       0.350618
Germany               81.3  357050     Berlin  227.699202       0.833502
Netherlands           16.9   41526  Amsterdam  406.973944       1.489744
United Kingdom        64.9  244820     London  265.092721       0.970382

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Change the capital of the UK to Cambridge</li>
</ul>
</div>

In [57]:
countries

                population    area    capital     density  density ratio
country
Belgium               11.3   30510   Brussels  370.370370       1.355755
France                64.3  671308      Paris   95.783158       0.350618
Germany               81.3  357050     Berlin  227.699202       0.833502
Netherlands           16.9   41526  Amsterdam  406.973944       1.489744
United Kingdom        64.9  244820     London  265.092721       0.970382

In [62]:

countries.loc['United Kingdom', 'capital']='Cambridge'
countries

                population    area    capital     density  density ratio
country
Belgium               11.3   30510   Brussels  370.370370       1.355755
France                64.3  671308      Paris   95.783158       0.350618
Germany               81.3  357050     Berlin  227.699202       0.833502
Netherlands           16.9   41526  Amsterdam  406.973944       1.489744
United Kingdom        64.9  244820  Cambridge  265.092721       0.970382

<div class="alert alert-success">
<b>EXERCISE</b>:

 <ul>
  <li>Select all countries whose population density is between 100 and 300 people/kmÂ²</li>
</ul>
</div>

# Some other essential methods: `isin` and `string` methods

The `isin` method of Series is very useful to select rows that may contain certain values:

In [ ]:
s = countries['capital']

In [ ]:
s.isin?

In [ ]:
s.isin(['Berlin', 'London'])

This can then be used to filter the dataframe with boolean indexing:

In [ ]:
countries[countries['capital'].isin(['Berlin', 'London'])]

Let's say we want to select all data for which the capital starts with a 'B'. In Python, when having a string, we could use the `startswith` method:

In [ ]:
string = 'Berlin'

In [ ]:
string.startswith('B')

In pandas, these are available on a Series through the `str` namespace:

In [ ]:
countries['capital'].str.startswith('B')

For an overview of all string methods, see: http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all countries that have capital names with more than 7 characters</li>
</ul>
    
</div>

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all countries that have capital names that contain the character sequence 'am'</li>
</ul>
</div>

# Pitfall: chained indexing (and the 'SettingWithCopyWarning')

In [ ]:
countries.loc['Belgium', 'capital'] = 'Ghent'

In [ ]:
countries

In [ ]:
countries['capital']['Belgium'] = 'Antwerp'

In [ ]:
countries

In [ ]:
countries[countries['capital'] == 'Antwerp']['capital'] = 'Brussels'

In [ ]:
countries

In [ ]:
countries.loc[countries['capital'] == 'Antwerp', 'capital'] = 'Brussels' 
countries

<div class="alert alert-info" style="font-size:120%">

<b>REMEMBER!</b><br><br>

What to do when encountering the *value is trying to be set on a copy of a slice from a DataFrame* error?

 <ul>
  <li>Use `loc` instead of chained indexing **if possible**!</li>
  <li>Or `copy` explicitly if you don't want to change the original data.</li>
</ul>

</div>

# Exercises using the Titanic dataset

In [ ]:
df = pd.read_csv("/data/titanic.csv")

In [ ]:
df.head()

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all rows for male passengers and calculate the mean age of those passengers. Do the same for the female passengers.</li>
</ul>
</div>

We will later see an easier way to calculate both averages at the same time with groupby.

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many passengers older than 70 were on the Titanic?</li>
</ul>
</div>

# [OPTIONAL] more exercises

In [ ]:
cast = pd.read_csv('/data/cast.csv')
cast.head()

In [ ]:
titles = pd.read_csv('../data/titles.csv')
titles.head()

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many movies are listed in the titles dataframe?</li>
</ul>
    
</div>

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>What are the earliest two films listed in the titles dataframe?</li>
</ul>
</div>

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many movies have the title "Hamlet"?</li>
</ul>
</div>

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>List all of the "Treasure Island" movies from earliest to most recent.</li>
</ul>
</div>

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many movies were made from 1950 through 1959?</li>
</ul>
</div>

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many roles in the movie "Inception" are NOT ranked by an "n" value?</li>
</ul>
</div>

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>But how many roles in the movie "Inception" did receive an "n" value?</li>
</ul>
</div>

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Display the cast of the "Titanic" (the most famous 1997 one) in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.</li>
</ul>
</div>

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>List the supporting roles (having n=2) played by Brad Pitt in the 1990s, in order by year.</li>
</ul>
</div>