### Partie 2 : Analyse

#### **MAWE GUILAINE**

### 2. Top 50 des budgets des films

In [18]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

In [19]:
df =pd.read_csv('imdb.csv')   ### Récuperation de mon fichier CSV

In [20]:
df

Empty DataFrame
Columns: [Titre_film, Note_film, Score, Nbre_de_vote, Directeur, Scenariste, Duree_film, Type_film, Date_sortie, Lieu_tournage, pays de ritie, Langue_tournage, Nmbre_review, Nombre_critic, Filmographie, Budget, Runtime, Color, Aspect_ratio, Gross_USA, Cwg, Sound_Mix]
Index: []

[0 rows x 22 columns]

In [1]:
top_budget = df.sort_values('Budget',ascending=False).head(50)
top_budget

NameError: name 'df' is not defined

### 11.Courbe des vues en fonctions des années

In [ ]:
import matplotlib.pyplot as plt

plt.bar(df["Nmbre_review"],df["Date_sortie"],align='center') # A bar chart
plt.xlabel('Vue')
plt.ylabel('Année')
for i in range(len(df["Date_sortie"])):
    plt.hlines(df["Date_sortie"],0,df["Nmbre_review"]) # Here you are drawing the horizontal lines
plt.show()

### 10. Top cinq des meilleurs review

In [ ]:
top_review = df.sort_values('Nmbre_review',ascending=False).head(5)
top_review

### 7. Top 10 des films par retour sur investissement

In [ ]:
top_cwg = df["Budget"] - df["Cwg"].sort_values(ascending=False).head(10)
top_cwg

### 4. Top 20 films ayant générés le plus de revenu, le moins de revenu.

In [ ]:
top_plus = df.sort_values('Gross_USA',ascending=False).head(20)
top_moins = df.sort_values('Gross_USA',ascending=True).head(20)

print(top_plus)
print(top_moins)

### 1. Distribution des films par catégorie

In [ ]:
df.group_by('Type_film').sum()

### 3. Nombre de films sortie par décennie

### 5. Analyse de la popularité des films en fonction de leurs budgets

In [ ]:
df.group_by('Budget')['Nmbre_review'].sum()

### 6. Distribution des revenus générés par genre de film

In [ ]:
df.group_by('Type_film')['Gross_USA'].sum()

### 8. Note moyenne par année de sortie de film

In [ ]:
df.group_by('Date_sortie')['Note_film'].mean()

### 9. Films ayant le même scenariste